*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html{
    min-width: 100vw;
    min-height: 100vh;
    background-image: url(./img/ostrov-merdo-i-magazin-mayakov-torungen-arendal-norvegiya-zakat-jonz.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    width: 100%;
    min-height: 100vh;
    z-index: 1;
} 
.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(135deg, rgb(90, 88, 88), rgb(208, 204, 204));
    background-size: cover; */
}
.header{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vw;
    /* background-image: url(./img/Pattern1.png); */
    /* border: 1px solid blue; */
}
.header h1{
    text-shadow: -0.5vw 0.5vw 0.5vw rgb(43, 41, 41);
    width: fit-content;
    padding: 1vw;
    color: rgb(84, 202, 38);
    align-self: flex-start;
    margin-left: 5vw;
    font-size: 3vw;
    /* border: 1px solid red; */
}
.header-menu{
    width: 50%;
    height: 5vw;
    /* border: 1px solid greenyellow; */
    font-size: 2vw;
}
.header-menu ul{
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.list-item{
    width: fit-content;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-link{
    width: 100%;
    height: 100%;
    color: rgb(128, 226, 43);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1vw;
}
.list-link:hover{
    text-decoration: underline;
}

.article{
    width: 100%;
    height: max-content;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
    padding: 2vw 0;
    font-size: 2.1vw;
}
.atricle-main-info{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid blueviolet; */
}
.article-content{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vw;
    text-align: justify;
    background-color: beige;
    border: 1px solid rgb(216, 183, 143);
    box-shadow: -0.5vw 0.5vw 0.3vw rgb(101, 95, 95) ;
    /* border: 2px solid green; */
}
.photo{
    width: 23%;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 50%; */
    /* border: 2px solid blue; */
    /* margin-bottom: 2vw; */
    /* background-color: #CAC6C6; */
}
.photo-frame{
    width: 100%;
    height: 110%;
    /* border: 1px solid rgb(85, 84, 84); */
    /* border-radius: 50%; */
    /* border-style: groove; */
    background-image: url(./img/Portret-2.png);
    background-size: cover;
    /* background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */
    /* box-shadow: -0.5vw 0.5vw 0.3vw rgb(101, 95, 95) ; */
}
.article-work-samples{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    padding: 2vw 0 0;
    /* border: 1px solid red; */
}
.sample-list{
    width: 95%;
    height: max-content;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    list-style: none;
}
.sample-list-item{
    width: 100%;
    height:30%;
    background-color: beige;
    /* border: 1px solid rgb(216, 183, 143); */
    margin-bottom: 2vw;
    padding: 1vw;
    box-shadow: -0.5vw 0.5vw 0.3vw rgb(101, 95, 95) ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.item-pict-frame{
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* margin-bottom: 1vw; */
}
.small {
    width: 50%;
    height: 50%;
}
.item-pict-frame a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tnail{
    width: 100%;
    height: 100%;
}
.item-txt p:first-of-type{
    margin-top: 0.5vw;
    text-align: center;
}
.item-txt-desc{
    width: 90%;
    height: 5vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid green; */
}
.item-txt{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    font-size: 1.3vw;
    padding: 1vw 2vw;
    text-align: justify;
    margin-top: 1vw;
    transition: all 1s ease-in-out;
    background-color: rgb(63, 34, 34);
    opacity: 80%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid blue; */
}
.item-txt:hover{
    height: calc(65vw/2);
}
.btn {
    width: 30%;
    height: 10%;
    background-color: rgb(185, 134, 59);
    border: 1px solid rgb(30, 26, 26);
    border-radius: 2vw;
}
.btn-link{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(185, 134, 59); */
    color: white;
    font-size: 1.2vw;
    text-decoration: none;
}
.footer{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-info{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3em;
    color: white;
    
    margin-bottom: 2vw;
}
.footer-info h3{
    text-decoration: underline;
}
.footer-info ul{
    list-style: none;
    color: azure;
}
.contacts a{
    text-decoration: none;
    color: yellowgreen;
}

@media screen and (max-width: 750px) {
    .sample-list{
    width: 100%;
    height: max-content;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    }
    .sample-list-item{
        width: 80%;
        height: 80vw;
    }
    .article {
        height: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .photo{
        order: 1;
        margin-bottom: 2vw;
    }
    .article-content{
        order: 2;
    }
    .item-txt{
        font-size: 2vw;
    }
    .btn{
        height: 15%;
    }
    .footer{
        font-size: 1vw;
    }
}